<h1>Products</h1>


<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Description</th>
        <th>Price</th>
        <th>VAT</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr ng-repeat="product in products">
            <td ng-bind="product.id"></td>
            <td ng-bind="product.description"></td>
            <td ng-bind="product.price | currency:'&euro; '"></td>
            <td>
                <span ng-bind="product.vat"></span>
                <span>%</span>
            </td>
            <td>
                <a class="btn btn-default btn-xs" ng-click="editProduct(product)"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default btn-xs" ng-click=""><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn btn-default" ng-click="addProduct()">Add product</button>
