<h1>Customers</h1>

<table class="table table-striped">
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Address</th>
    <th>VAT</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <tr ng-repeat="customer in customers">
        <td ng-bind="customer.id"></td>
        <td ng-bind="customer.name"></td>
        <td>
            <div>
                <span ng-bind="customer.address.street"></span>
                <span ng-bind="customer.address.number"></span>
            </div>
            <div>
                <span ng-bind="customer.address.postalCode"></span>
                <span ng-bind="customer.address.city"></span>
            </div>
        </td>
        <td ng-bind="customer.vat"></td>
        <td>
            <a class="btn btn-default btn-xs" ng-click="editCustomer(customer)"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default btn-xs" ng-click=""><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
    </tbody>
</table>

<button class="btn btn-default" ng-click="addCustomer()">Add customer</button>
