<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title">Select or create customer</h3>
</div>
<div class="modal-body">
    <form name="createInvoice">
        <div class="form-group">
            <label>Invoice date:</label>
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="invoice.date" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <div class="form-group">
            <label>Invoice number:</label>
            <input type="text" class="form-control" placeholder="Invoice Number" ng-model="invoice.invoiceNumber" required />
        </div>
        <div class="form-group">
            <label>Customer:</label>
            <input type="text"
                   class="form-control"
                   placeholder="Customer name"
                   ng-model="customertypeahead"
                   required
                   typeahead="customer as customer.name for customer in getCustomer($viewValue)"/>
        </div>
        <div class="form-group">
            <label>Address:</label>
            <input type="text" class="form-control" placeholder="Street" ng-model="invoice.customer.address.street" required/>
            <input type="text" class="form-control" placeholder="Number" ng-model="invoice.customer.address.number" required/>
            <input type="text" class="form-control" placeholder="Postal Code" ng-model="invoice.customer.address.postalCode" required/>
            <input type="text" class="form-control" placeholder="City" ng-model="invoice.customer.address.city" required/>
        </div>
        <div class="form-group">
            <label>VAT number:</label>
            <input type="text" class="form-control" placeholder="VAT number" ng-model="invoice.customer.vat" required/>
        </div>

    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!createInvoice.$valid" ng-click="ok()">Ok</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>