<h1>Invoice Detail ({{invoice.invoiceNumber}})</h1>

<h2>Customer</h2>

<form editable-form name="customerForm">

    <div>
        <div>
            <dl>
                <dt>Name:</dt>
                <dd ng-bind="invoice.customer.name"></dd>
                <dt>Address:</dt>
                <dd>
                    <div>
                        <span ng-bind="invoice.customer.address.street"></span>
                        <span ng-bind="invoice.customer.address.number"></span>
                    </div>
                    <div>
                        <span ng-bind="invoice.customer.address.postalCode"></span>
                        <span ng-bind="invoice.customer.address.city"></span>
                    </div>
                </dd>
                <dt>VAT number:</dt>
                <dd>BE123456789</dd>
            </dl>

        </div>
        <button class="btn btn-default" ng-click="editCustomer()">Edit customer</button>
    </div>

</form>

<h2>Details</h2>

<table class="table table-striped">
    <thead>
        <th>Product</th>
        <th>Price</th>
        <th>Amount</th>
        <th>VAT %</th>
        <th>Total</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr ng-repeat="invoiceLine in invoice.invoiceLines">
            <td ng-bind="invoiceLine.product.description"></td>
            <td ng-bind="invoiceLine.productPrice"></td>
            <td ng-bind="invoiceLine.amount"></td>
            <td>
                <span ng-bind="invoiceLine.vat"></span>
                <span>%</span>
            </td>
            <td ng-bind="invoiceLine.total | currency:'&euro; '"></td>
            <td>
                <a class="btn btn-default btn-xs" ng-click="editInvoiceLine(invoiceLine)"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default btn-xs" ng-click=""><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-default" ng-click="addInvoiceLine()">Add invoice line</button>


<button class="btn btn-danger" ng-click="testInvoiceNumber()">TEST</button>