<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">

    <form name="addInvoiceLine">
        <div class="form-group">
            <label>Product:</label>
            <input type="text"
                   class="form-control"
                   placeholder="Product description"
                   ng-model="producttypeahead"
                   typeahead="product as product.description for product in getProduct($viewValue)"
                   required/>
        </div>
        <div class="form-group">
            <label>Price:</label>
            <input type="number" class="form-control" placeholder="Unit price" ng-model="invoiceLine.price" required/>
        </div>
        <div class="form-group">
            <label>Quantity:</label>
            <input type="number" class="form-control" placeholder="Quantity" ng-model="invoiceLine.quantity" required/>
        </div>
        <div class="form-group">
            <label>VAT %:</label>
            <input type="number" class="form-control" placeholder="VAT %" ng-model="invoiceLine.vat" required/>
        </div>
        <div class="form-group">
            <label>Total (VAT excl):</label>
            <input type="number" class="form-control" placeholder="Total" value="{{invoiceLine.quantity * invoiceLine.price}}" disabled/>
        </div>
    </form>


</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!addInvoiceLine.$valid" ng-click="ok()">Ok</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>